@page "{id:int}"
@model DigitalSignage.CMS.Pages.Devices.DeleteModel
@{
    ViewData["Title"] = "Delete Device";
}

<h1>Delete Device</h1>

<p>Are you sure you want to delete this device?</p>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Device.Name</dd>

    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">@Model.Device.DeviceType</dd>

    <dt class="col-sm-3">Location</dt>
    <dd class="col-sm-9">@Model.Device.Location</dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Device.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
